.searchbar {
  width: 100%;
  padding: 0.2rem 0.5rem;
}

.header {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-weight: bold;
}

.footer {
  margin: 1rem;
  display: flex;
}
