* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-color: red;
  --black-color: black;
  --white-color: white;
  --blur: rgba(0,0,0,0.27);
}

.divider {
  border-bottom: 1px solid;
}
